.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
webpack.config.js
webpack.react.config.js
vsc-extension-quickstart.md
build.sh
node_modules/**
**/*.map
**/.eslintrc.json
**/tsconfig.json
**/*.ts
!src/webviews/sidebar-react/**/*.d.ts
.github/**
**/yarn.lock
**/package-lock.json
**/.babelrc
**/jest.config.js
**/.prettierrc
**/.editorconfig
**/tslint.json

